.root {
  display: flex;
  // margin: 20px;
}

.sideMenu {
  width: 25%;
  margin-right: 3rem;
  height: max-content;
  padding: 1rem;
  :global(.ant-menu-item-selected),
  :global(.ant-menu-submenu-selected > .ant-menu-submenu-title) {
    color: #eeac40 !important ;
  }
}
