.root {
  display: flex;
  margin: 20px;
}

.sideMenu {
  width: 25%;
  padding: 20px;
  margin: 20px;
  // background-color: #fcf3e4;
  background-color: #fff0d5;
  :global(.ant-menu-item-selected) {
    background-color: #fff0d5;
    color: #eeac40;
  }
  :global(.ant-menu-submenu-selected) {
    background-color: #fff0d5;
  }
  :global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
    color: #eeac40;
  }
}
