.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.header {
  font-size: 18px;
  display: flex;  
  align-items: center;
  // width: 50%;
}

.logo {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 40px;

  img {
    margin-right: 8px;
    width: 100px;
  }
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.address {
  margin: 0 40px;
  // display: flex;
  svg {
    margin-right: 6px;
  }
}
