body {
  margin: 25px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #fff9eb;
  color: #514b43;
  /* color: #2f291e; */
  font-weight: 600;
  font-size: 20px;
}

